# Fichiers sensibles - NE JAMAIS commit
.env
backend/config/env.php

# Journal des mails en développement
backend/mail/mails.log

# Systèmes
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/

# Dépendances
node_modules/
